.btn,
.subbtn {

    -webkit-transition-duration: 0.4s;
    border: none;
    display: inline-block;
    margin: 0px 20px 0px 0px;
    text-align: center;
    border-radius: 8px;
    background-color: lightblue;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
}

.btn:hover,
.subbtn:hover {
    background-color: #4CAF50;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    color: white;
}

.input {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1,
h3 {
    text-shadow: 2px 2px 5px lightblue;
}

body {
    background-image: url("../../assets/images/giftly.png");
}